{% if newNotify %}
    {% for item in newNotify %}
        <li>
            <a class="dropdown-item" href="{{ item.link }}">
                <div class="d-flex align-items-center">
                    <img src="{{ item.profile.image.url }}" alt=""
                         style="width: 40px; height: 40px; border-radius:50%">
                    <p class="ms-3"
                       style="font-weight:500; margin-bottom: 0">{{ item.content }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
{% endif %}
{% if notify %}
    {% for item in notify %}
        <li>
            <a class="dropdown-item" href="{{ item.link }}">
                <div class="d-flex align-items-center">
                    <img src="{{ item.profile.image.url }}" alt=""
                         style="width: 40px; height: 40px; border-radius:50%">
                    <p class="ms-3"
                       style=" margin-bottom: 0">{{ item.content }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
{% endif %}
{% if not notify and not newNotify %}
    <li style="padding: 40% 25%">
        Không có thông báo nào
    </li>
{% endif %}