<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

    <script src="{% static 'components/form/validator.js' %}"></script>

    {# font #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    {# Bootstrap #}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    {# owl #}
    <link rel="stylesheet" href={% static "owlcaurosel/assets/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "owlcaurosel/assets/owl.theme.default.min.css" %}>

    {# styles #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {# blog #}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {# nav #}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {# carosel #}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    {# collection #}
    <link rel="stylesheet" href="{% static 'css/collection.css' %}">
    {# blog #}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {# blog #}
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    {# category #}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {# profile #}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {# product_details #}
    <link rel="stylesheet" href="{% static 'css/carousel_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    {# order #}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    {# messenger #}
    <link rel="stylesheet" href="{% static 'css/messenger.css' %}">
    {# edit_product #}
    {# order #}
    <link rel="stylesheet" href="{% static 'css/edit-product.css' %}">
    <link rel="icon"
          href="{% static 'img/logo.png' %}"
          type="image/icon type">
    <title>Hara</title>
</head>
<body>
{% block body_not_nav %}
    <nav class="navbar navbar-expand-lg navbar-light nav-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img src="{% static 'img/logo.png' %}" alt="" style="width: 50px">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <label for="nav-checkbox" onclick="openNav()"
                               class="nav-link active nav-open font-bold">Menu</label>
                        <input type="checkbox" id="nav-checkbox">
                        <label class="nav-close" for="nav-checkbox" onclick="closeNav()"><i
                                class="bi bi-x nav-close-icon"></i></label>
                        <div class="nav-menu">
                            <div class="nav-menu-content">
                                <ul class="nav-menu-list row">
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                CÔNG NGHỆ & ĐỔI MỚI
                                            </h3>
                                            <div class="nav-item-node">
                                                Làm chủ công nghệ và đổi mới
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="energy-green-tech" %}">
                                                        <span class="nav-item-span">1</span>
                                                        Năng lượng & Công nghệ xanh</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="travel-outdoors" %}">
                                                        <span class="nav-item-span">2</span>
                                                        Du lịch & Ngoài trời</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="productivity" %}">
                                                        <span class="nav-item-span">3</span>
                                                        Năng suất</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="home" %}">
                                                        <span class="nav-item-span">4</span>
                                                        Nhà</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="audio" %}">
                                                        <span class="nav-item-span">5</span>
                                                        Audio</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                CÔNG TRÌNH SÁNG TẠO
                                            </h3>
                                            <div class="nav-item-node">
                                                Giải phóng sự sáng tạo của bạn
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="comics" %}">
                                                        <span class="nav-item-span">1</span>
                                                        Truyện tranh</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="music" %}">
                                                        <span class="nav-item-span">2</span>
                                                        Âm nhạc</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="film" %}">
                                                        <span class="nav-item-span">3</span>
                                                        Phim ảnh</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="writing-publishing" %}">
                                                        <span class="nav-item-span">4</span>
                                                        Viết & xuất bản</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="art" %}">
                                                        <span class="nav-item-span">5</span>
                                                        Nghệ thuật</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                DỰ ÁN CỘNG ĐỒNG
                                            </h3>
                                            <div class="nav-item-node">
                                                Lên ý tưởng cho dự án của bạn
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:group_category' slug="community-projects" %}">
                                                        <span class="nav-item-span">1</span>
                                                        Dự án cộng đồng</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="wellness" %}">
                                                        <span class="nav-item-span">2</span>
                                                        Sức khỏe</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="local-businesses" %}">
                                                        <span class="nav-item-span">3</span>
                                                        Doanh nghiệp địa phương</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="culture" %}">
                                                        <span class="nav-item-span">4</span>
                                                        Văn hóa</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link"
                                                       href="{% url 'product:category' slug="environment" %}">
                                                        <span class="nav-item-span">5</span>
                                                        Môi trường</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                ĐĂNG NHẬP VÀ ĐĂNG KÝ
                                            </h3>
                                            <div class="nav-item-node">
                                                Hãy đến với chúng tôi
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'register:login' %}">
                                                        <span class="nav-item-span">1</span>
                                                        Đăng nhập</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'register:signup' %}">
                                                        <span class="nav-item-span">2</span>
                                                        Đăng ký</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">3</span>
                                                        Đăng nhập với Google</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">4</span>
                                                        Đăng nhập Facebook</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:create_product' %}">
                                                        <span class="nav-item-span">5</span>
                                                        Tạo dự án</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                VỀ CHÚNG TÔI
                                            </h3>
                                            <div class="nav-item-node">
                                                Tìm hiểu về chúng tôi
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">1</span>
                                                        Blog</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">2</span>
                                                        Bài báo</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">3</span>
                                                        Thông tin</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">4</span>
                                                        Thuế</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">5</span>
                                                        Chứng chỉ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page"
                               href="{% url 'messenger:home_messenger' slug=user.username %}">Tin nhắn</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex nav-search" action="{% url 'product:products' %}">
                    <input class="form-control nav-search-input" name="search" placeholder="Search" id="search"
                           aria-label="Search" oninput="onInput(this)" onblur="onBlur(this)">
                    <button class="nav-search-btn" type="submit"><i class="bi bi-search icon-search"></i></button>
                    <p class="nav-close-btn" onclick="deleteInput(this)"><i class="bi bi-x"></i></p>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active font-bold" aria-current="page" href="{% url 'product:products' %}">Các sản phẩm</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page"
                               href="{% url 'product:create_product' %}">Chiến dịch</a>
                        </li>
                        <li class="nav-item item-separate">
                            <a class="nav-link active font-bold" aria-current="page"
                               href="{% url 'order:order' %}">Quản lý</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link active font-bold position-relative button-notify dropdown-toggle"
                               id="notification" data-bs-toggle="dropdown" aria-expanded="false"
                               style="font-size: 20px"><i class="bi bi-bell"></i>
                                {% if not newNotify %}
                                    <style>
                                        #{{ request.user }}{
                                            display: none;
                                        }
                                    </style>
                                {% endif %}
                                <div id="{{ request.user }}"
                                     class="notification-span text-center">
                                    <span>{{ request.session.newNotify }}</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu notification-drop-menu" aria-labelledby="notification">
                                {% if newNotify %}
                                    {% for item in newNotify %}
                                        <li>
                                            <a class="dropdown-item" href="{{ item.link }}">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ item.profile.image.url }}" alt=""
                                                         style="width: 40px; height: 40px; border-radius:50%">
                                                    <p class="ms-3"
                                                       style="font-weight:500; margin-bottom: 0">{{ item.content }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {% if notify %}
                                    {% for item in notify %}
                                        <li>
                                            <a class="dropdown-item" href="{{ item.link }}">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ item.profile.image.url }}" alt=""
                                                         style="width: 40px; height: 40px; border-radius:50%">
                                                    <p class="ms-3"
                                                       style="margin-bottom: 0">{{ item.content }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li style="padding: 40% 25%">
                                        Không có thông báo nào
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {#<a class="nav-link active font-bold" aria-current="page" href="{% url 'register:profile' slug=request.user %}">Profile</a>#}
                        <li class="nav-item dropdown ms-2 me-2">
                            <a class="nav-link dropdown-toggle font-bold" type="button" id="dropdownMenuButton1"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ request.user.last_name }}
                            </a>
                            <ul class="dropdown-menu nav-link-dropdown" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item nav-link-dropdown-item"
                                       href="{% url 'register:profile' slug=request.user %}">Hồ sơ</a>
                                </li>
                                <li><a class="dropdown-item nav-link-dropdown-item"
                                       href="{% url 'register:edit_profile' slug=request.user %}">chỉnh sử hồ sơ</a></li>
                                <li><a class="dropdown-item nav-link-dropdown-item" href="{% url 'register:logout' %}">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page" href="{% url 'register:login' %}">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page" href="{% url 'register:signup' %}">Đăng ký</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light nav-md" style="position: relative;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img src="{% static 'img/logo.png' %}" alt="" style="width: 50px">
            </a>
            <div>
                <button class="button-nav-menu-responsive" id="button-nav-menu-open" onclick="openNavMenu()">
                    <i class="bi bi-list"></i>
                </button>
                <button class="button-nav-menu-responsive" id="button-nav-menu-close" onclick="closeNavMenu()">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div class="nav-menu-content-responsive" style="display:none">
                <h6 class="nav-menu-header-responsive">Hara</h6>
                <p class="nav-menu-label-responsive">{{ user.get_full_name }}</p>
                <ul class="nav-list-menu-responsive">
                    <li class="nav-item-menu-responsive">
                        <a href="{% url 'product:products' %}" class="nav-link-menu-responsive">Tắt cả sản phẩm</a>
                    </li>
                    <li class="nav-item-menu-responsive">
                        <a href="{% url 'product:group_category' slug="tech-innovation" %}"
                           class="nav-link-menu-responsive">Công nghệ & Đổi mới</a>
                    </li>
                    <li class="nav-item-menu-responsive">
                        <a href="{% url 'product:group_category' slug="creative-works" %}"
                           class="nav-link-menu-responsive">Tác phẩm sáng tạo</a>
                    </li>
                    <li class="nav-item-menu-responsive">
                        <a href="{% url 'product:group_category' slug="community-projects" %}"
                           class="nav-link-menu-responsive">Dự án cộng đồng</a>
                    </li>
                    <li class="nav-item-menu-responsive">
                        <a href="{% url 'product:create_product' %}" class="nav-link-menu-responsive">Bắt đầu một chiến dịch</a>
                    </li>
                    <li class="nav-item-menu-responsive">
                        <a href="{% url 'order:order' %}" class="nav-link-menu-responsive">Quản lý</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item-menu-responsive">
                            <a href="{% url 'register:logout' %}" class="nav-link-menu-responsive">Đăng xuất</a>
                        </li>
                    {% else %}
                        <li class="nav-item-menu-responsive">
                            <a href="{% url 'register:login' %}" class="nav-link-menu-responsive">Đăng nhập</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-container">
        {% block body %}
        {% endblock body %}
    </div>
    <div class="footer">
        <div class="footer-container container">
            <div class="row row-cols-1 row-cols-md-2 footer-content">
                <div class="col col-md-8 footer-item">
                    <div class="row mb-5">
                        <div class="col">
                            <h4 class="footer-item-header">Chính sách và Hỗ trợ</h4>
                            <div>
                                <ul class="footer-item-list">
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="{% url 'home:provision' %}">Chính sách</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Tin cậy & An toàn</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Điều khoản sử dụng</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Tại sao là chúng tôi</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="footer-item-header">Về chúng tôi</h4>
                            <div>
                                <ul class="footer-item-list">
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Tại sao là chúng tôi</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Gọi vốn cộng đồng</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Tìm hiểu về chúng tôi</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="footer-item-header">Hướng dẫn và Liên hệ</h4>
                            <div>
                                <ul class="footer-item-list">
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Sổ tay nhà sáng lập</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Hướng dẫn dành cho người ủng hộ</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Email: hara@gmail.com</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Phone: 0972141556</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="w-100 text-center">
                        <div>
                            <span class="footer-icon" style="font-size: 1.8rem"><i class="bi bi-envelope"></i></span>
                        </div>
                        <h5 style="font-weight: 300">Tìm sản phẩm đầu tiên trên Dealme</h5>
                    </div>
                    <form action="">
                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-weight: 300; font-size: 16px">Địa chỉ Email</label>
                            <input type="email" class="form-control footer-input" id="email"
                                   aria-describedby="emailHelp" placeholder="email">
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-4">
                            <input type="checkbox" id="email-checkbox"><label for="email-checkbox" class="ms-3"
                                                                              style="font-size: 14px">tôi đồng ý với điều khoản sử dụng và đã đọc và hiểu Chính sách quyền riêng tư</label>
                        </div>
                        <button href="#" class="button-primary mt-3 w-100">ĐĂNG KÝ CHO TÔI</button>
                    </form>
                </div>
            </div>
            <div class="footer-container-icon mt-5">
                <div class="mt-5">
                    <ul class="footer-icon-list d-flex">
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-envelope"></i></a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-100 mt-5 text-center">
                <p>&copy; 2021 Hara</p>
            </div>
        </div>
    </div>
{% endblock body_not_nav %}
{#Boostrap#}
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src={% static "owlcaurosel/jquery.min.js" %}></script>
<script type="text/javascript" src={% static "owlcaurosel/owl.carousel.min.js" %}></script>
<script src="{% static 'components/Navbar/openNav.js' %}"></script>
<script src="{% static 'components/Input/input.js' %}"></script>
<script src="{% static 'components/carousel/carousel.js' %}"></script>
<script src="{% static 'components/select/navbarList.js' %}"></script>
<script src="{% static 'components/channels/comment.js' %}"></script>
<script src="{% static 'components/Ajax/sort.js' %}"></script>
<script src="{% static 'components/Ajax/order.js' %}"></script>
<script src="{% static 'components/Ajax/create-product.js' %}"></script>
<script src="{% static 'components/Ajax/edit-product.js' %}"></script>
<script src="{% static 'components/Ajax/info-product.js' %}"></script>
<script src="{% static 'components/Ajax/favorite.js' %}"></script>
<script src="{% static 'components/Ajax/complain.js' %}"></script>
<script src="{% static 'components/Ajax/message.js' %}"></script>


<script>
    const endpointUser = 'ws://127.0.0.1:8000/ws/notify/{{ request.user }}/'
    const socketUser = new WebSocket(endpointUser)

    socketUser.onopen = function (e) {
        console.log("open", e);
    }
    socketUser.onmessage = function (e) {
        console.log("message", e)
        const data = JSON.parse(e.data);
        $("#{{ request.user }}").css('display', 'block')
        let value = $('#{{ request.user }}').text()
        $("#{{ request.user }}").text(parseInt(value) + 1)
        console.log(data)
    }
    socketUser.onerror = function (e) {
        console.log("error", e)
    }
    socketUser.onclose = function (e) {
        console.log("close", e)
    }

    $(document).ready(function () {
        $('.button-notify').click(() => {
            $.ajax({
                type: "GET",
                url: " {% url 'home:home' %}",
                data: "",
                dataType: 'html',
                success: function (data, textStatus, jqXHR) {
                    console.log(data)
                    $('.notification-drop-menu').html(data)
                },
            })
        });
    })
</script>
</body>
</html>