<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

    <script src="{% static 'components/form/validator.js' %}"></script>

    {# font #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    {# Bootstrap #}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    {# owl #}
    <link rel="stylesheet" href={% static "owlcaurosel/assets/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "owlcaurosel/assets/owl.theme.default.min.css" %}>

    {# styles #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {# blog #}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {# nav #}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {# carosel #}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    {# collection #}
    <link rel="stylesheet" href="{% static 'css/collection.css' %}">
    {# blog #}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {# blog #}
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    {# category #}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {# profile #}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {# product_details #}
    <link rel="stylesheet" href="{% static 'css/carousel_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    {# order #}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    {# edit_product #}
    {# order #}
    <link rel="stylesheet" href="{% static 'css/edit-product.css' %}">
    <title>Home</title>
</head>
<body>
{% block body_not_nav %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:home' %}">Hara</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <label for="nav-checkbox" onclick="openNav()"
                               class="nav-link active nav-open font-bold">Explore</label>
                        <input type="checkbox" id="nav-checkbox">
                        <label class="nav-close" for="nav-checkbox" onclick="closeNav()"><i
                                class="bi bi-x nav-close-icon"></i></label>
                        <div class="nav-menu">
                            <div class="nav-menu-content">
                                <ul class="nav-menu-list row">
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                TECH & INNOVATION
                                            </h3>
                                            <div class="nav-item-node">
                                                Mastering technology and innovation
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="energy-green-tech" %}">
                                                        <span class="nav-item-span">1</span>
                                                        Energy & Green Tech</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="travel-outdoors" %}">
                                                        <span class="nav-item-span">2</span>
                                                        Travel & Outdoors</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="productivity" %}">
                                                        <span class="nav-item-span">3</span>
                                                        Productivity</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="home" %}">
                                                        <span class="nav-item-span">4</span>
                                                        Home</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="audio" %}">
                                                        <span class="nav-item-span">5</span>
                                                        Audio</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                CREATIVE WORKS
                                            </h3>
                                            <div class="nav-item-node">
                                                Unleash your creativity
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="comics" %}">
                                                        <span class="nav-item-span">1</span>
                                                        Comics</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="music" %}">
                                                        <span class="nav-item-span">2</span>
                                                        Music</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="film" %}">
                                                        <span class="nav-item-span">3</span>
                                                        Film</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="writing-publishing" %}">
                                                        <span class="nav-item-span">4</span>
                                                        Writing & Publishing</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="art" %}">
                                                        <span class="nav-item-span">5</span>
                                                        Art</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                COMMUNITY PROJECTS
                                            </h3>
                                            <div class="nav-item-node">
                                                Come up with an idea for your project
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:group_category' slug="community-projects" %}">
                                                        <span class="nav-item-span">1</span>
                                                        Community Projects</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="wellness" %}">
                                                        <span class="nav-item-span">2</span>
                                                        Wellness</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="local-businesses" %}">
                                                        <span class="nav-item-span">3</span>
                                                        Local Businesses</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="culture" %}">
                                                        <span class="nav-item-span">4</span>
                                                        Culture</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:category' slug="environment" %}">
                                                        <span class="nav-item-span">5</span>
                                                        Environment</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                LOGIN AND SIGNUP
                                            </h3>
                                            <div class="nav-item-node">
                                                Come with us too
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'register:login' %}">
                                                        <span class="nav-item-span">1</span>
                                                        Login</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'register:signup' %}">
                                                        <span class="nav-item-span">2</span>
                                                        Signup</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">3</span>
                                                        Login with Google</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">4</span>
                                                        Login with Facebook</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="{% url 'product:create_product' %}">
                                                        <span class="nav-item-span">5</span>
                                                        Create Project</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-menu-item col">
                                        <div class="nav-item-content">
                                            <h3 class="header-3">
                                                ABOUT US
                                            </h3>
                                            <div class="nav-item-node">
                                                Learn about us
                                            </div>
                                            <ul class="nav-item-list">
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">1</span>
                                                        Blog</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">2</span>
                                                        Article</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">3</span>
                                                        information</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">4</span>
                                                        tax</a>
                                                </li>
                                                <li class="nav-item-item">
                                                    <a class="nav-item-link" href="#">
                                                        <span class="nav-item-span">5</span>
                                                        certificate</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-bold" aria-current="page" href="#">What we do</a>
                    </li>
                </ul>
                <form class="d-flex nav-search" action="{% url 'product:products' %}">
                    <input class="form-control nav-search-input" name="search" placeholder="Search" id="search"
                           aria-label="Search" oninput="onInput(this)" onblur="onBlur(this)">
                    <button class="nav-search-btn" type="submit"><i class="bi bi-search icon-search"></i></button>
                    <p class="nav-close-btn" onclick="deleteInput(this)"><i class="bi bi-x"></i></p>
                </form>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active font-bold" aria-current="page" href="{% url 'product:products' %}">All
                            Idea</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page"
                               href="{% url 'product:create_product' %}">Start a Campaign</a>
                        </li>
                        <li class="nav-item item-separate">
                            <a class="nav-link active font-bold" aria-current="page"
                               href="{% url 'order:order' %}">Order Controller</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link active font-bold position-relative button-notify dropdown-toggle"
                               id="notification" data-bs-toggle="dropdown" aria-expanded="false"
                               style="font-size: 20px"><i class="bi bi-bell"></i>
                                {% if not newNotify %}
                                    <style>
                                        #{{ request.user }}{
                                            display: none;
                                        }
                                    </style>
                                {% endif %}
                                <div id="{{ request.user }}"
                                     class="notification-span text-center">
                                    <span>{{ request.session.newNotify }}</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu notification-drop-menu" aria-labelledby="notification">
                                {% if newNotify %}
                                    {% for item in newNotify %}
                                        <li>
                                            <a class="dropdown-item" href="{{ item.link }}">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ item.profile.image.url }}" alt=""
                                                         style="width: 40px; height: 40px; border-radius:50%">
                                                    <p class="ms-3"
                                                       style="font-weight:500; margin-bottom: 0">{{ item.content }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {% if notify %}
                                    {% for item in notify %}
                                        <li>
                                            <a class="dropdown-item" href="{{ item.link }}">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ item.profile.image.url }}" alt=""
                                                         style="width: 40px; height: 40px; border-radius:50%">
                                                    <p class="ms-3"
                                                       style="margin-bottom: 0">{{ item.content }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li style="padding: 40% 25%">
                                        Không có thông báo nào
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {#<a class="nav-link active font-bold" aria-current="page" href="{% url 'register:profile' slug=request.user %}">Profile</a>#}
                        <li class="nav-item dropdown ms-2 me-2">
                            <a class="nav-link dropdown-toggle font-bold" type="button" id="dropdownMenuButton1"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ request.user.last_name }}
                            </a>
                            <ul class="dropdown-menu nav-link-dropdown" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item nav-link-dropdown-item"
                                       href="{% url 'register:profile' slug=request.user %}">Profile</a>
                                </li>
                                <li><a class="dropdown-item nav-link-dropdown-item"
                                       href="{% url 'register:edit_profile' slug=request.user %}">Edit
                                    Profile</a></li>
                                <li><a class="dropdown-item nav-link-dropdown-item" href="{% url 'register:logout' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page" href="{% url 'register:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active font-bold" aria-current="page" href="{% url 'register:signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock body %}
    <div class="footer">
        <div class="footer-container container">
            <div class="row row-cols-1 row-cols-md-2 footer-content">
                <div class="col col-md-8 footer-item">
                    <div class="row mb-5">
                        <div class="col">
                            <h4 class="footer-item-header">ABOUT</h4>
                            <div>
                                <ul class="footer-item-list">
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">About Us</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Trust & Safety</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">About Us</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Trust & Safety</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="footer-item-header">ABOUT</h4>
                            <div>
                                <ul class="footer-item-list">
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">About Us</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Trust & Safety</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">About Us</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Trust & Safety</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="footer-item-header">ABOUT</h4>
                            <div>
                                <ul class="footer-item-list">
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">About Us</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Trust & Safety</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">About Us</a>
                                    </li>
                                    <li class="footer-item-item">
                                        <a class="footer-item-link" href="">Trust & Safety</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="w-100 text-center">
                        <div>
                            <span class="footer-icon" style="font-size: 1.8rem"><i class="bi bi-envelope"></i></span>
                        </div>
                        <h5 style="font-weight: 300">Find it first on Dealme</h5>
                    </div>
                    <form action="">
                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-weight: 300; font-size: 16px">Email
                                address</label>
                            <input type="email" class="form-control footer-input" id="email"
                                   aria-describedby="emailHelp" placeholder="email">
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-4">
                            <input type="checkbox" id="email-checkbox"><label for="email-checkbox" class="ms-3"
                                                                              style="font-size: 14px">I agree to the
                            Terms of Use and have read and understand the Privacy Policy</label>
                        </div>
                        <button href="#" class="button-primary mt-3 w-100">SIGN ME UP</button>
                    </form>
                </div>
            </div>
            <div class="footer-container-icon mt-5">
                <div class="mt-5">
                    <ul class="footer-icon-list d-flex">
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-envelope"></i></a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="footer-icon-item">
                            <a href="" class="footer-icon-link"><i class="bi bi-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-100 mt-5 text-center">
                <p>&copy; 2021 Hara</p>
            </div>
        </div>
    </div>
{% endblock body_not_nav %}
{#Boostrap#}
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src={% static "owlcaurosel/jquery.min.js" %}></script>
<script type="text/javascript" src={% static "owlcaurosel/owl.carousel.min.js" %}></script>
<script src="{% static 'components/Navbar/openNav.js' %}"></script>
<script src="{% static 'components/Input/input.js' %}"></script>
<script src="{% static 'components/carousel/carousel.js' %}"></script>
<script src="{% static 'components/select/navbarList.js' %}"></script>
<script src="{% static 'components/channels/comment.js' %}"></script>
<script src="{% static 'components/Ajax/sort.js' %}"></script>
<script src="{% static 'components/Ajax/order.js' %}"></script>
<script src="{% static 'components/Ajax/create-product.js' %}"></script>
<script src="{% static 'components/Ajax/edit-product.js' %}"></script>
<script src="{% static 'components/Ajax/infor-product.js' %}"></script>

<script>
    const endpointUser = 'ws://127.0.0.1:8000/ws/notify/{{ request.user }}/'
    const socketUser = new WebSocket(endpointUser)

    socketUser.onopen = function (e) {
        console.log("open", e);
    }
    socketUser.onmessage = function (e) {
        console.log("message", e)
        const data = JSON.parse(e.data);
        $("#{{ request.user }}").css('display', 'block')
        let value = $('#{{ request.user }}').text()
        $("#{{ request.user }}").text(parseInt(value) + 1)
        console.log(data)
    }
    socketUser.onerror = function (e) {
        console.log("error", e)
    }
    socketUser.onclose = function (e) {
        console.log("close", e)
    }

    $(document).ready(function () {
        $('.button-notify').click(() => {
            $.ajax({
                type: "GET",
                url: " {% url 'home:home' %}",
                data: "",
                dataType: 'html',
                success: function (data, textStatus, jqXHR) {
                    console.log(data)
                    $('.notification-drop-menu').html(data)
                },
            })
        });
    })
</script>
</body>
</html>