{% extends 'Base/index.html' %}
{% load static %}
{% block body %}
    <div>
        <div class="w-100" style="padding: 10px 0; background-color: #333; color: #fff">
            <div class="container d-flex">
                <div class="view-profile">
                    <a href="{% url 'product:create_product' %}" class="view-profile-link"><span><i
                            class="bi bi-eye"></i></span><span class="ms-2">Basic</span></a>
                </div>
                <div class="view-profile ms-4">
                    <a href="{% url 'product:create_product' %}" class="view-profile-link"><span><i
                            class="bi bi-pencil-square"></i></span><span class="ms-2">Add information</span></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col col-lg-6">
                    <header class="mt-5">
                        <h3 class="ms-5 display-4">Create Product</h3>
                    </header>
                    <div class="p-5">
                        <div class="product-form-container">
                            <div class="product-content">
                                <form method="post" enctype="multipart/form-data" id="create-product" onsubmit="submitFormCreate(event)">
                                    {% csrf_token %}
                                    <div class="mb-3 form-group">
                                        <label for="id_title" class="form-label">Campaign Title*</label>
                                        <input class="form-control" type="text" name="title" maxlength="2000" required=""
                                               id="id_title">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="id_caption" class="form-label">Campaign Caption*</label>
                                        <textarea class="form-control" name="caption" rows="6" maxlength="2000" required=""
                                                   id="id_caption"></textarea>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="id_price" class="form-label">Campaign Price*</label>
                                        <div class="input-group">
                                            <input type="number" name="price" class="form-control"
                                                   aria-label="Dollar amount (with dot and two decimal places)" required=""
                                                   id="id_price">
                                            <span class="input-group-text">$</span>
                                            <span class="input-group-text">0.00</span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_img" class="form-label">Image</label>
                                        <input class="form-control" type="file" name="img" required="" accept="image/*" id="id_img">
                                    </div>
                                    <div class="mb-3 mt-5">
                                        <select class="form-select product-selector" id="id_category" name="category" required=""
                                                aria-label="Default select example">
                                            <option selected>Category</option>
                                            {% for foo in category %}
                                                <option value="{{ foo.id }}">{{ foo.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="button-primary mt-5" type="submit">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 pt-5">
                    <div class="w-100">
                        <div id="create-product-preview">
                            <div class="d-flex justify-content-center align-items-center">
                                <h2 class="display-5 text-danger" style="margin-top: 200px">Preview</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}