{% extends 'Base/index.html' %}
{% load static %}
{% load Sum %}
{% load imageYoutube %}
{% block body %}
    <div class="mb-5">
        <div class="w-100" style="padding: 10px 0; background-color: #333; color: #fff">
            <div class="container d-flex">
                <div class="container d-flex">
                    <div class="view-profile">
                        <a href="{% url 'product:create_product' %}" class="view-profile-link"><span><i
                                class="bi bi-plus-circle"></i></span><span class="ms-2">Tạo chiến dịch</span></a>
                    </div>
                    <div class="view-profile ms-4">
                        <a href="{% url 'product:edit_product' %}" class="view-profile-link"><span><i
                                class="bi bi-pencil-square"></i></span><span class="ms-2">Chỉnh sửa</span></a>
                    </div>
                    <div class="view-profile ms-4">
                        <a href="{% url 'product:info_product' %}" class="view-profile-link"><span><i
                                class="bi bi-app-indicator"></i></span><span class="ms-2">Thêm hình ảnh/video</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col col-lg-6">
                    <header class="mt-5">
                        <h3 class="ms-5 display-4">Thêm hình ảnh và video</h3>
                    </header>
                    <div class="p-5">
                        <div class="product-form-container">
                            <div>
                                <header class="mb-2">
                                    <h3 class="display-6">Hình ảnh</h3>
                                </header>
                                <ul id="list_image_product">
                                    {% if images %}
                                        {% for image in images %}
                                            <li>
                                                <div class="product-content">
                                                    <form method="post" enctype="multipart/form-data"
                                                          id="info-product-form-{{ image.id }}"
                                                          onsubmit="submitFormImageAndVideo(event,{{ image.id }} )">
                                                        {% csrf_token %}
                                                        <div class="mb-3 d-flex">
                                                            <label for="id_img-{{ image.id }}" class="form-label ms-2">Hình ảnh</label>
                                                            <a href="{{ image.image.url }}"
                                                               style="color: #821717"
                                                               target="_blank">Image-{{ image.id }}</a>
                                                            <div>
                                                                <div class="ms-4" id="button-edit-image-{{ image.id }}"
                                                                     onclick="editImage({{ image.id }})">
                                                                    <span><i class="bi bi-pencil-square"></i></span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="ms-4" id="button-delete-image-{{ image.id }}"
                                                                     onclick="deleteImage({{ image.id }})">
                                                                    <span><i class="bi bi-x-circle"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <div class="mb-3 input-edit-image-{{ image.id }}"
                                                                 style="display: none">
                                                                <input class="form-control" type="file" name="img"
                                                                       accept="image/*"
                                                                       id="id_img-{{ image.id }}">
                                                            </div>
                                                            <div class="">
                                                                <button class="ms-4 pb-3 input-edit-image-{{ image.id }}"
                                                                        type="submit" style="display: none;">
                                                                    <span style="font-size: 20px"><i
                                                                            class="bi bi-check2-circle"></i></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                    <li>
                                        <div class="product-content">
                                            <form method="post" enctype="multipart/form-data" id="info-product-form-0"
                                                  onsubmit="submitFormImageAndVideo(event, 0)">
                                                {% csrf_token %}
                                                <div class="d-flex">
                                                    <div class="mb-3 input-edit-image-0" style="display: none;">
                                                        <a href="{{ image.url }}">{{ image }}</a>
                                                        <input class="form-control" type="file" name="img"
                                                               accept="image/*"
                                                               id="id_img">
                                                    </div>
                                                    <div class="">
                                                        <button class="ms-4 pb-3 input-edit-image-0"
                                                                type="submit" style="display: none;">
                                                        <span style="font-size: 20px"><i
                                                                class="bi bi-check2-circle"></i></span>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div class="button-secondary text-center"
                                                     onclick="editImage(0)"><span><i
                                                        class="bi bi-plus-circle"></i></span> Thêm hình ảnh mới
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-5">
                                <header class="mb-2">
                                    <h3 class="display-6">Video</h3>
                                </header>
                                <ul id="list_video_product">
                                    {% if videos %}
                                        {% for video in videos %}
                                            <li>
                                                <div class="product-content">
                                                    <form method="post" enctype="multipart/form-data"
                                                          id="info-product-video-{{ video.id }}"
                                                          onsubmit="submitFormVideo(event,{{ video.id }} )">
                                                        {% csrf_token %}
                                                        <div class="mb-3 d-flex">
                                                            <label for="id_video-{{ video.id }}"
                                                                   class="form-label me-2">Video</label>
                                                            <a href="{{ video.video }}"
                                                               style="color: #821717"
                                                               target="_blank">Youtube-{{ video.id }}</a>
                                                            <div>
                                                                <div class="ms-4" id="button-edit-image-{{ video.id }}"
                                                                     onclick="editImage({{ video.id }})">
                                                                    <span><i class="bi bi-pencil-square"></i></span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="ms-4" id="button-delete-{{ video.id }}"
                                                                     onclick="deleteVideo({{ video.id }})">
                                                                    <span><i class="bi bi-x-circle"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="mb-3">
                                                                <input class="form-control input-edit-image-{{ video.id }}"
                                                                       name="video"
                                                                       type="text"
                                                                       id="id_video-{{ video.id }}"
                                                                       style="display: none">
                                                            </div>
                                                            <div class="">
                                                                <button class="ms-4 pb-3 input-edit-image-{{ video.id }}"
                                                                        type="submit" style="display: none;">
                                                                    <span style="font-size: 20px"><i
                                                                            class="bi bi-check2-circle"></i></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                    <li>
                                        <div class="product-content">
                                            <form method="post" enctype="multipart/form-data" id="info-product-video-0"
                                                  onsubmit="submitFormVideo(event, 0)">
                                                {% csrf_token %}
                                                <div class="d-flex">
                                                    <div class="mb-3 input-edit-image--1" style="display: none;">
                                                        <label>
                                                            <input class="form-control" name="video"
                                                                   type="text">
                                                        </label>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <button class="ms-4 pb-3 input-edit-image--1"
                                                                type="submit" style="display: none;">
                                                        <span style="font-size: 20px"><i
                                                                class="bi bi-check2-circle"></i></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="button-secondary text-center"
                                                     onclick="editImage(-1)"><span><i
                                                        class="bi bi-plus-circle"></i></span> Thêm video mới
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <a class="button-secondary mt-2" href=""
                           style="text-decoration: none; color: #000">Thêm hình ảnh và video</a>
                    </div>
                </div>
                <div class="col col-lg-6 pt-5">
                    <div class="w-100">
                        <div id="info-product-preview">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-100 pb-5" style="max-height: 100vh; overflow-y: auto;">
                                    <div class="container">
                                        <div class="row row-cols-1">
                                            <div class="col">
                                                <div class="product_detail-carousel">
                                                    <div id="carouselExampleIndicators" class="carousel slide"
                                                         data-bs-ride="carousel">
                                                        <div class="carousel-indicators carousel-indicators-product-details">
                                                            {% if images or videos %}
                                                                {% for image in images %}
                                                                    <div>
                                                                        {% if forloop.counter0 == 0 %}
                                                                            <button type="button"
                                                                                    data-bs-target="#carouselExampleIndicators"
                                                                                    data-bs-slide-to="0"
                                                                                    class="product_detail-button active"
                                                                                    aria-current="true"
                                                                                    aria-label="Slide 1"
                                                                                    style="background-image: url('{{ image.image.url }}');"
                                                                            >
                                                                            </button>
                                                                        {% else %}
                                                                            <button type="button"
                                                                                    data-bs-target="#carouselExampleIndicators"
                                                                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                                                                    class="product_detail-button"
                                                                                    aria-current="true"
                                                                                    aria-label="Slide 1"
                                                                                    style="background-image: url('{{ image.image.url }}');"
                                                                            >
                                                                            </button>
                                                                        {% endif %}
                                                                    </div>
                                                                {% endfor %}
                                                                {% for video in videos %}
                                                                    {% if not images and forloop.counter0 == 0 %}
                                                                        <div>
                                                                            <button type="button"
                                                                                    data-bs-target="#carouselExampleIndicators"
                                                                                    data-bs-slide-to="{{ forloop.counter|Sum:images }}"
                                                                                    class="product_detail-button active"
                                                                                    aria-current="true"
                                                                                    aria-label="Slide 1"
                                                                                    style="background-image: url('http://i3.ytimg.com/vi/{{ video.video|imageYoutube }}/maxresdefault.jpg');"
                                                                            >
                                                                            </button>
                                                                        </div>
                                                                    {% else %}
                                                                        <div>
                                                                            <button type="button"
                                                                                    data-bs-target="#carouselExampleIndicators"
                                                                                    data-bs-slide-to="{{ forloop.counter|Sum:images }}"
                                                                                    class="product_detail-button"
                                                                                    aria-current="true"
                                                                                    aria-label="Slide 1"
                                                                                    style="background-image: url('http://i3.ytimg.com/vi/{{ video.video|imageYoutube }}/maxresdefault.jpg');"
                                                                            >
                                                                            </button>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <div>
                                                                    <button type="button"
                                                                            data-bs-target="#carouselExampleIndicators"
                                                                            data-bs-slide-to="1"
                                                                            class="product_detail-button"
                                                                            aria-current="true" aria-label="Slide 1"
                                                                            style="background-image: url('{{ product_detail.img.url }}');"
                                                                    >
                                                                    </button>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="carousel-inner">
                                                            {% if images or videos %}
                                                                {% for image in images %}
                                                                    {% if forloop.counter0 == 0 %}
                                                                        <div class="carousel-item active">
                                                                            <img src="{{ image.image.url }}"
                                                                                 class="d-block w-100 h-100"
                                                                                 alt="{{ product_detail.title }}">
                                                                        </div>
                                                                    {% else %}
                                                                        <div class="carousel-item">
                                                                            <img src="{{ image.image.url }}"
                                                                                 class="d-block w-100 h-100"
                                                                                 alt="{{ product_detail.title }}">
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% for video in videos %}
                                                                    {% if not images and forloop.counter0 == 0 %}
                                                                        <div class="carousel-item active">
                                                                            <iframe class="d-block w-100 h-100"
                                                                                    src="{{ video.video }}"></iframe>
                                                                        </div>
                                                                    {% else %}
                                                                        <div class="carousel-item">
                                                                            <iframe class="d-block w-100 h-100"
                                                                                    src="{{ video.video }}"></iframe>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <div class="carousel-item active">
                                                                    <img src="{{ product_detail.img.url }}"
                                                                         class="d-block w-100 h-100"
                                                                         alt="{{ product_detail.title }}">
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex flex-column">
                                                    <div class="mt-2" style="color: #34ca96">KINH PHI</div>
                                                    <div class="product_detail-header mt-3">
                                                        <h3>{{ product_detail.title }}</h3>
                                                    </div>
                                                    <div class="product_detail-caption">
                                                        <p>{{ product_detail.caption }}</p>
                                                    </div>
                                                    <div class="product_user mt-3 d-flex">
                                                        <div class="product_user-image">
                                                            <img src="{{ profile_detail.image.url }}" alt=""
                                                                 class="product_user-img">
                                                        </div>
                                                        <div class="product_user-name ms-3">
                                                            {% if request.user == profile_detail.user %}
                                                                <a href="{{ profile_detail.get_absolute_url }}"
                                                                   class="text-decoration-none"
                                                                   style="color: #1b1b1b"><p
                                                                        style="font-size: 18px;font-weight:600 ;margin: 0">{{ product_detail.user.get_full_name }}</p>
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ profile_detail.get_absolute_url_detail }}"
                                                                   class="text-decoration-none"
                                                                   style="color: #1b1b1b"><p
                                                                        style="font-size: 18px;font-weight:600 ;margin: 0">{{ product_detail.user.get_full_name }}</p>
                                                                </a>
                                                            {% endif %}
                                                            <p>{{ profile_detail.allProducts }} chiến dịch
                                                                | {{ profile_detail.address }}</p>
                                                        </div>
                                                    </div>
                                                    <div style="padding: 0 10px">
                                                        <div class="mt-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="product_detail-price">
                                                                    <p style="font-size:20px; font-weight: 600">
                                                                        ${{ product_detail.goal|floatformat:2 }}</p>
                                                                </div>
                                                                <div class="product_detail-backers ms-auto">
                                                                    <p style="font-size:16px; font-weight: 300">{{ product_detail.orders }}
                                                                        người theo dõi</p>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="progress card-progress">
                                                                    <div class="progress-bar" role="progressbar"
                                                                         style="width: {{ product_detail.percent|floatformat:2 }}%"
                                                                         aria-valuenow="{{ product_detail.percent|floatformat:2 }}"
                                                                         aria-valuemin="0"
                                                                         aria-valuemax="100"></div>
                                                                </div>
                                                                <div class="d-flex mt-2">
                                                                    <div>
                                                                        <p>{{ product_detail.percent|floatformat:2 }}%</p>
                                                                    </div>
                                                                    <div class="ms-auto">
                                                                        <p> {{ product_detail.created_at|date:"Y-m-d" }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mt-3 d-flex">
                                                                <a href="{% url 'product:checkout_loading' slug=product_detail.slug %}"
                                                                   type="button" class="button-primary">
                                                                    ĐẦU TƯ NGAY
                                                                </a>
                                                                <button class="ms-3 button-secondary d-flex align-items-center">
                                                                    <span><i class="bi bi-heart"></i></span>
                                                                    <span class="ms-2">THEO DÕI</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
        <div class="row">
            <div class="col">
                    <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link product_detail-active active" id="pills-home-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">GIỚI THIỆU
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link product_detail-active" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">BÌNH LUẬN
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link product_detail-active" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false">FAQ
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div>
                                <div class="col">
                                    <ul class="product_detail-list">
                                        <li class="product_detail-item">
                                            <img src="{% static 'img/banner3.jpg' %}" alt="" style="width: 100%">
                                        </li>
                                        <li class="product_detail-item">
                                            <img src="{% static 'img/banner4.jpg' %}" alt="" style="width: 100%">
                                        </li>
                                        <li class="product_detail-item">
                                            <img src="{% static 'img/banner5.jpg' %}" alt="" style="width: 100%">
                                        </li>
                                        <li class="product_detail-item">
                                            <img src="{% static 'img/blog1.jpg' %}" alt="" style="width: 100%">
                                        </li>
                                        <li class="product_detail-item">
                                            <img src="{% static 'img/blog2.jpg' %}" alt="" style="width: 100%">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            {% if order or product_detail.user == request.user %}
                                <div class="comment">
                                    <div class="form-comment row">
                                        <label for="id_comment" class="form-label" style="font-size: 18px; padding: 0">Gửi bình luận</label>
                                        <textarea type="area" id='id_comment' required class="form-control"
                                                  rows="4"></textarea>
                                        <button class="button-secondary mt-3 ms-auto" id="comment-button"
                                                style="width:fit-content">POST
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="comment-content">
                                <div class="col">
                                    <ul class="comment_content-list">
                                        {% if comments %}
                                            {% for comment in comments %}
                                                <li class="comment_content-item mb-3" style="display:none">
                                                    <div class="comment-user d-flex">
                                                        <div class="comment-user-image">
                                                            <img src="{{ comment.profile.image.url }}" alt="..."
                                                                 class="comment-user-img">
                                                        </div>
                                                        <div class="comment-user-content ms-3">
                                                            {% if user == comment.user %}
                                                                <a class="text-decoration-none"
                                                                   href="{{ profile_detail.get_absolute_url }}"
                                                                   style="font-weight: 500; margin:0; color: #1b1b1b"
                                                                   id="comment_user">{{ comment.user.get_full_name }}</a>
                                                            {% else %}
                                                                <a class="text-decoration-none"
                                                                   href="{{ comment.profile.get_absolute_url_detail }}"
                                                                   style="font-weight: 500; margin:0; color: #1b1b1b"
                                                                   id="comment_user">{{ comment.user.get_full_name }}</a>
                                                            {% endif %}
                                                            <p class="mt-0"
                                                               id="comment_content_label">{{ comment.comment }}</p>
                                                            <div class="d-flex">
                                                                <div>
                                                                    <button class="comment-icon comment-like"><i
                                                                            class="bi bi-hand-thumbs-up"></i></button>
                                                                    <span>9</span>
                                                                </div>
                                                                <div class="ms-2">
                                                                    <button class="comment-icon comment-dislike"><i
                                                                            class="bi bi-hand-thumbs-down"></i></button>
                                                                    <span>9</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}

                                        {% endif %}
                                    </ul>
                                    <div class="row text-center">
                                        <div>
                                            <button class="button-primary button-load-more">Xem thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <div class="faq col ps-3">
                                <div class="faq-header">
                                    <h5 class="display-6" style="font-size: 24px">Các câu hỏi thường gặp</h5>
                                </div>
                                <div class="faq-content mt-4">
                                    <ul class="faq_list">
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Có đảm bảo giao hàng không?</p>
                                            <p class="faq_item-caption">Chắc chắn rồi! Mặc dù Indiegogo không đảm bảo việc phân phối sản phẩm, nhưng chúng tôi, như Rolling Square thì có. Nếu bạn đóng góp vào một trong những đặc quyền của chúng tôi, bạn sẽ nhận được sản phẩm. Đơn giản như vậy. Đây là chiến dịch thứ tám của chúng tôi và chúng tôi đã giao hàng cho hàng trăm nghìn người ủng hộ, vì vậy bạn có thể tin tưởng vào kinh nghiệm của chúng tôi.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Địa chỉ email hỗ trợ của bạn là gì?</p>
                                            <p class="faq_item-caption">Bạn có thể liên hệ với chúng tôi tại support@rollingsqua.re! Chúng tôi nhận được rất nhiều email nhưng thường chúng tôi sẽ trả lời trong vòng 24 giờ làm việc. Đảm bảo tránh gửi các email tiếp theo, vì chúng sẽ đưa vé của bạn trở lại cuối "đống" và mọi email đều được trả lời. Cảm ơn bạn :)</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tôi đã cam kết nhận nhiều đặc quyền, liệu tôi có tiết kiệm được chi phí vận chuyển không?</p>
                                            <p class="faq_item-caption">Nếu bạn cam kết nhiều đặc quyền, chúng tôi sẽ kết hợp chúng trong một chuyến hàng, vì vậy có thể bạn sẽ tiết kiệm được chi phí vận chuyển. Sự khác biệt sẽ được tính toán chính xác vào cuối chiến dịch và bạn sẽ nhận được một khoản tín dụng cho số tiền đó.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tôi có thể đầu tư và bạn đang tìm kiếm đại lý và nhà phân phối?</p>
                                            <p class="faq_item-caption">Chúng tôi luôn hào hứng nói chuyện với bất kỳ ai tin tưởng vào sản phẩm của chúng tôi. Nếu bạn muốn tham gia với tư cách là nhà đầu tư, đại lý hoặc nhà phân phối, hãy gửi email cho chúng tôi theo địa chỉ info@ferrarisgroup.ch và hãy bắt đầu nói chuyện!</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Vận chuyển có được theo dõi không?</p>
                                            <p class="faq_item-caption">Có, tất cả các phương thức vận chuyển đều được theo dõi!</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tôi đã chuyển đi. Tôi có thể thay đổi địa chỉ của mình không?</p>
                                            <p class="faq_item-caption">Có, bạn có thể thay đổi địa chỉ của mình nếu trạng thái đóng góp của bạn là "Đã đặt". Nếu trạng thái của bạn là "Đã khóa", bạn vẫn có thể thay đổi trạng thái đó, vì bạn có thể cập nhật bất kỳ thông tin nào cho đến khi chúng tôi giao hàng cho bạn. Để thay đổi nó, vui lòng truy cập trang đơn đặt hàng của bạn bằng cách đăng nhập tại https://backer.tools/login. Nếu nó cho thấy rằng đơn đặt hàng của bạn là "Đã xuất" hoặc "Đã giao" thì rất tiếc là đã quá muộn.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Có thể yêu cầu hoàn lại tiền không?</p>
                                            <p class="faq_item-caption">Nếu bạn đã đổi ý, bạn có thể yêu cầu hoàn lại tiền nếu trạng thái đơn hàng của bạn là "Đã đặt". Nếu đơn hàng của bạn bị "Khóa", vui lòng liên hệ với support@rollingsqua.re và chúng tôi sẽ cố gắng chặn gói hàng của bạn. Nếu đó là "Đã giao hàng", bạn sẽ cần phải đợi cho đến khi bạn nhận được gói hàng, sau đó bạn có thể gửi gói hàng lại cho chúng tôi. Sau khi nhận được, chúng tôi sẽ gửi cho bạn tiền hoàn lại.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Sau khi tôi nhận được sản phẩm, tôi có thể trả lại để được hoàn lại tiền không?</p>
                                            <p class="faq_item-caption">Có, bạn sẽ có 30 ngày kể từ ngày gói hàng của bạn được gửi đến địa chỉ contact@rollingsqua.re và bắt đầu quy trình trả hàng.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tôi có cần phải trả VAT không?</p>
                                            <p class="faq_item-caption">Nói chung, không. Mặc dù, do nhiều quốc gia và quy định, chúng tôi không thể đảm bảo điều đó, để chắc chắn, bạn nên kiểm tra với hải quan địa phương. Các đơn hàng lớn hơn 5 đơn vị có nhiều khả năng phát sinh chi phí nhập khẩu. Các lô hàng sẽ đến từ một trong các kho hàng của chúng tôi, ở Trung Quốc, Hoa Kỳ hoặc EU, Việt Nam..</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tôi có thể mua số lượng lớn hơn không?</p>
                                            <p class="faq_item-caption">Nếu bạn muốn đặt hàng số lượng lớn (tối thiểu 100 chiếc), vui lòng liên hệ info@ferrarisgroup.ch và chúng tôi sẽ gửi báo giá cho bạn ngay lập tức.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">EDGE có được bảo hành không?</p>
                                            <p class="faq_item-caption">Chắc chắn rồi! Bảo hành của chúng tôi kéo dài trong 2 năm và có giá trị trên toàn thế giới.</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">EDGE Light có cần cáp để hoạt động không?</p>
                                            <p class="faq_item-caption">EDGE Light cũng có pin, vì vậy không cần dây cáp mọi lúc. Tuy nhiên, nó sẽ cần được sạc và có thể đạt độ sáng cao hơn nếu được sử dụng khi đang cắm điện</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tốc độ sạc của Bộ sạc không dây EDGE là bao nhiêu?</p>
                                            <p class="faq_item-caption">Bộ sạc không dây EDGE có thể sạc ở mức tối đa 15W. Xin lưu ý rằng iPhone bị Apple giới hạn sạc ở mức 7,5W trên bộ sạc không dây của bên thứ ba</p>
                                        </li>
                                        <li class="faq_item mb-3">
                                            <p class="faq_item-header" style="font-size: 18px">Tôi có thể sử dụng bộ sạc MagSafe của riêng mình với Giá đỡ EDGE không?</p>
                                            <p class="faq_item-caption">Tất nhiên, bạn sẽ chỉ cần thêm một tấm kim loại vào mặt sau của MagSafe.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}