{% extends 'Base/index.html' %}
{% load static %}
{% block body %}
    <div>
        <div class="container">
            <h2 class="display-5 text-center order-header">Order Status</h2>
            <div class="table-container">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if orders %}
                        {% for order in orders %}
                            <tr>
                                <td>
                                    {{ order.user.get_full_name }}
                                </td>
                                <td>
                                    <p>{{ order.user.email }}</p>
                                    <time class="date">date: {{ order.created_at }}</time>
                                </td>
                                <td>{{ order.product.title }}</td>
                                <td>{{ order.price|floatformat:2 }}$</td>
                                <td>
                                    <span class="{{ order.state.slug }}" id="order-status-{{ order.id }}">{{ order.state.name }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}